[submodule "ThirdParty/camera_calibration_toolkit"]
	path = ThirdParty/camera_calibration_toolkit
	url = https://github.com/yizhongzhang1989/camera_calibration_toolkit.git
[submodule "ThirdParty/FlowFormerPlusPlusServer"]
	path = ThirdParty/FlowFormerPlusPlusServer
	url = https://github.com/yizhongzhang1989/FlowFormerPlusPlusServer.git
[submodule "ThirdParty/ImageLabelingWeb"]
	path = ThirdParty/ImageLabelingWeb
	url = https://github.com/yizhongzhang1989/ImageLabelingWeb.git
